:root {
    --bg-color: #0d1117;
    --text-color: #c9d1d9;
    --link-color: #58a6ff;
    --border-color: #30363d;
    --button-bg: #0056b3;
    --button-hover-bg: #004494; 
    --profile-bg: #161b22;
}


body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1; 
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    background: linear-gradient(to right, #e39ca4, #e5b879);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

main {
    flex: 1; 
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

input, button {
    font-size: 16px;
    padding: 12px 20px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

input {
    width: 300px;
    margin-right: 10px;
}

input:focus {
    outline: none;
    border-color: var(--link-color);
}

button {
    background-color: var(--button-bg);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    font-weight: 600;
}

button:hover {
    background-color: var(--button-hover-bg);
}

#profile {
    background-color: var(--profile-bg);
    padding: 30px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #8b949e;
    font-size: 14px;
}

footer p {
    margin: 1px 0;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #8b949e;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #58a6ff;
}

@media (max-width: 600px) {
    .search-container {
        flex-direction: column;
        align-items: center;
    }

    input, button {
        width: 100%;
        margin: 10px 0;
    }
}
